#queryBox{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.search{
    width:80%;
}

.sbtn{
    width:20%;
}

#fiveDayDiv {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}   

.col-2{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height: 200px;
}



#bottoms{
    border-right: 2px;
    border-style: solid;
    border-color: black;
    height: 362px;
}

#bottom{
    border-right: 2px;
    border-style: solid;
    border-color: black;
    height: 362px;
}

.boss{
    text-align: center;
}

#uvIndex{
    margin-left: 44%;
    border-style:inset;
    padding-top: 10px;
    width: 150px;
    border-radius: 10px;
}

#dateToday{
    text-align: center;
}

.today{
    text-align: center;
}

.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
#icon{
    text-align: center;
}